body {
    background-color: rgb(0, 0, 0);
}

.container {
    margin: auto;
    border-radius: 10px;
    padding: 10px;
    max-width: 360px;
    width: 90%;
    height: 90%;
}

.center {
    text-align: center;
}

.bg-dark {
    background-color: rgb(50, 50, 50);
    color: white;
}

.table {
    padding: 5px;
    margin: auto;
    height: 90%;
    max-width: 360px;
}

.col-15p {
    width: 15%;
}

.col-10p {
    width: 10%;
}

.btn-orange {
    background-color: rgb(230, 122, 0);
    border-radius: 5px;
    border: 0;
}

.btn-neon {
    background-color: rgb(230, 122, 0);
    border-radius: 5px;
    border: 0;
}

.btn-xs {
    width: 20px;
    height: 20px;
}

.btn-l {
    width: 80px;
    height: 28px;
    font-weight: bold;
}

.font-h3 {
    font-size: 1rem;
    font-weight: bold;
}

.font-glow {
    color: rgb(255, 100, 0);
}